.item-slides-container {
  scrollbar-width: var(--scrollbar-width);;

  @apply max-h-full px-2 overflow-y-auto grid pb-2 focus-visible:outline-none;
}

.item-slide {
  width: calc(25% - clamp(0.25rem, 0.5vw, 0.5rem));
  border-width: var(--border-width);

  @apply cursor-pointer w-fit rounded-lg;
}