@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  text-wrap: nowrap;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="password"]::-ms-reveal {
  display: none;
}