.toggle-input-container {
  @apply w-8 h-4 border rounded-2xl border-gray-300 flex items-center relative;

  @media screen and (max-width: 1023px) {
    @apply w-10 h-5;
  }

  :focus-within,
  &:focus-visible,
  &:focus {
    @apply outline-1 outline-gray-200;
  }

  &:hover {
    @apply border-gray-100;
  }

  &.on {
    @apply bg-green-500;
  }

  &.off {
    @apply bg-gray-500;
  }
}

.toggle-circle {
  @apply transition-all absolute pointer-events-none;

  .on & {
    right: 0;
  }

  .off & {
    right: 15px;

    @media screen and (max-width: 1023px) {
      right: 19px;
    }
  }
}
