.display-window {
  width: var(--slide-editor-width);
  height: var(--slide-editor-height);

  font-family: Verdana;

  @apply relative overflow-hidden text-white;
}

.overlay-participant-info-container {
  @apply w-fit absolute flex flex-col bg-gray-800/75; 

  border-left: var(--overlay-participant-info-border-width) solid green;
  padding: var(--overlay-participant-info-padding);
  max-width: 70%;
  bottom: 8.5%;
  left: var(--overlay-participant-info-left);

  border-bottom-right-radius: 3% 10%;
  border-top-right-radius: 3% 10%;

  text-shadow:
  var(--overlay-participant-info-text-shadow-size-n) var(--overlay-participant-info-text-shadow-size-n) 0 #000,  
   var(--overlay-participant-info-text-shadow-size-p) var(--overlay-participant-info-text-shadow-size-n) 0 #000,
   var(--overlay-participant-info-text-shadow-size-n) var(--overlay-participant-info-text-shadow-size-p) 0 #000,
    var(--overlay-participant-info-text-shadow-size-p) var(--overlay-participant-info-text-shadow-size-p) 0 #000;
}

.overlay-participant-info-name {
  font-size: var(--overlay-participant-info-name-size);
}

.overlay-participant-info-title {
  font-size: var(--overlay-participant-info-title-size);
  font-style: italic;
}

.overlay-participant-info-event {
  font-size: var(--overlay-participant-info-event-size);
}

.overlay-stb-info-container {
  @apply min-w-full w-fit absolute bottom-0 bg-green-800/90 text-white flex items-center justify-center text-nowrap;

  // border-top: var(--overlay-stb-info-border-width) solid green;
  // border-bottom: var(--overlay-stb-info-border-width) solid green;
  font-size: var(--overlay-stb-info-text-size);
  padding: var(--overlay-stb-info-padding);

  text-shadow:
  var(--overlay-stb-info-text-shadow-size-n) var(--overlay-stb-info-text-shadow-size-n) 0 #000,  
   var(--overlay-stb-info-text-shadow-size-p) var(--overlay-stb-info-text-shadow-size-n) 0 #000,
   var(--overlay-stb-info-text-shadow-size-n) var(--overlay-stb-info-text-shadow-size-p) 0 #000,
    var(--overlay-stb-info-text-shadow-size-p) var(--overlay-stb-info-text-shadow-size-p) 0 #000;
}

.overlay-stb-info-heading {
  @apply font-semibold;

  margin-right: 2%;
}

.display-box-background { 
  @apply h-full w-full absolute;
}

.display-box-text {
  @apply w-full bg-transparent whitespace-pre-line absolute;
  
  overflow-wrap: anywhere;
}

.bible-info-container,
.prev-bible-info-container {
  @apply w-fit absolute flex flex-col;

  width: 70%;
  margin: 0 15%;
  bottom: 10%;

  text-shadow:
  var(--bible-info-text-shadow-size-n) var(--bible-info-text-shadow-size-n) 0 #000,  
   var(--bible-info-text-shadow-size-p) var(--bible-info-text-shadow-size-n) 0 #000,
   var(--bible-info-text-shadow-size-n) var(--bible-info-text-shadow-size-p) 0 #000,
    var(--bible-info-text-shadow-size-p) var(--bible-info-text-shadow-size-p) 0 #000;

}

.bible-info-title,
.prev-bible-info-title {
  @apply bg-green-800 w-fit;;

  border-top-left-radius: 5% 20%;
  border-top-right-radius: 5% 20%;
  padding: 0.5% 4% 0.5%;
  font-size: var(--bible-info-title-size);

}

.bible-info-text,
.prev-bible-info-text {
  @apply bg-gray-800/95;

  padding: 1.5% 2.5%;
  border-top-right-radius: 2.5% 20%;
  border-bottom-right-radius: 2.5% 20%;
  border-bottom-left-radius: 2.5% 20%;

  font-size: var(--bible-info-text-size);
}


.overlay-qr-code-info-container {
  @apply w-fit absolute flex items-center;

  background-color: var(--overlay-qr-code-info-color);
  padding: var(--overlay-qr-code-info-padding);
  gap: var(--overlay-qr-code-info-gap);;
  max-width: 70%;
  height: fit-content;
  bottom: 8.5%;
  left: var(--overlay-qr-code-info-left);

  border-radius: 2% / 8%;

  text-shadow:
  var(--overlay-qr-code-info-text-shadow-size-n) var(--overlay-qr-code-info-text-shadow-size-n) 0 #000,  
   var(--overlay-qr-code-info-text-shadow-size-p) var(--overlay-qr-code-info-text-shadow-size-n) 0 #000,
   var(--overlay-qr-code-info-text-shadow-size-n) var(--overlay-qr-code-info-text-shadow-size-p) 0 #000,
    var(--overlay-qr-code-info-text-shadow-size-p) var(--overlay-qr-code-info-text-shadow-size-p) 0 #000;
}

.overlay-qr-code-info-url {
  min-width: var(--overlay-qr-code-info-url-width);
  max-width: var(--overlay-qr-code-info-url-width);
}

.overlay-qr-code-info-description {
  font-size: var(--overlay-qr-code-info-description-size);
}
