.display-window {
  width: var(--slide-editor-width);
  height: var(--slide-editor-height);
  overflow-wrap: anywhere;
  font-family: Verdana;

  @apply relative overflow-hidden text-white;
}

.display-editor {
  @apply h-full w-full bg-transparent absolute resize-none outline-none;

    scrollbar-width: thin;
}

.overlay-participant-info-container {
  @apply w-fit absolute flex flex-col bg-gray-800/75 overflow-hidden border-green-700 border-solid; 

  border-left-width: var(--overlay-participant-info-border-width);
  padding: var(--overlay-participant-info-padding);
  max-width: 70%;
  bottom: 8.5%;
  left: var(--overlay-participant-info-left);
  border-bottom-right-radius: 3% 10%;
  border-top-right-radius: 3% 10%;
}

.overlay-participant-info-name {
  font-size: var(--overlay-participant-info-name-size);
}

.overlay-participant-info-title {
  font-size: var(--overlay-participant-info-title-size);
  font-style: italic;
}

.overlay-participant-info-event {
  font-size: var(--overlay-participant-info-event-size);
}

.overlay-stb-info-container {
  @apply min-w-full w-fit absolute bottom-0 bg-green-700/90 text-white flex items-center justify-center text-nowrap;

  font-size: var(--overlay-stb-info-text-size);
  padding: var(--overlay-stb-info-padding);
}

.overlay-stb-info-heading {
  @apply font-semibold;

  margin-right: 2%;
}

.display-box-background { 
  @apply h-full w-full absolute;
}

.display-box-text {
  @apply w-full bg-transparent whitespace-pre-line absolute;
}

.bible-info-container,
.prev-bible-info-container {
  @apply w-fit absolute flex flex-col;

  width: 70%;
  margin: 0 15%;
  bottom: 10%;
}

.bible-info-title,
.prev-bible-info-title {
  @apply bg-green-700 w-fit;;

  border-top-left-radius: 5% 20%;
  border-top-right-radius: 5% 20%;
  padding: 0.5% 4% 0.5%;
  font-size: var(--bible-info-title-size);
}

.bible-info-text,
.prev-bible-info-text {
  @apply bg-gray-800/95;

  padding: 1.5% 2.5%;
  border-top-right-radius: 2.5% 20%;
  border-bottom-right-radius: 2.5% 20%;
  border-bottom-left-radius: 2.5% 20%;
  font-size: var(--bible-info-text-size);
}


.overlay-qr-code-info-container {
  @apply w-fit absolute flex items-center mx-auto left-0 right-0 overflow-hidden;

  background-color: var(--overlay-qr-code-info-color);
  padding: var(--overlay-qr-code-info-padding);
  gap: var(--overlay-qr-code-info-gap);;
  max-width: 60%;
  height: fit-content;
  bottom: 8.5%;
  border-radius: 2% / 8%;
}

.overlay-qr-code-info-url {
  min-width: var(--overlay-qr-code-info-url-width);
  max-width: var(--overlay-qr-code-info-url-width);
}

.overlay-qr-code-info-description {
  @apply font-semibold whitespace-pre-line;
  font-size: var(--overlay-qr-code-info-description-size);
}

.overlay-image-container {
  @apply w-fit absolute flex items-center mx-auto left-0 right-0 overflow-hidden;
  max-height: 33%;
  max-width: 85%;
  bottom: 1.5%
}