.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}

.toast-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;

  &.toast-group-top-left {
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
  }

  &.toast-group-top-right {
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-end;
  }

  &.toast-group-top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: fit-content;
    max-width: 50vw;
  }

  &.toast-group-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-start;
  }

  &.toast-group-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: flex-end;
  }

  &.toast-group-bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: fit-content;
    max-width: 50vw;
  }
}
