.timer-controls {
  .timer-control-btn {
    &:not(:disabled) {
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:hover, &:active {
        transform: none;
      }
    }

    &.play {
      &:not(:disabled) {
        color: #48bb78;
      }
    }

    &.pause {
      &:not(:disabled) {
        color: #ecc94b;
      }
    }

    &.stop {
      &:not(:disabled) {
        color: #f56565;
      }
    }
  }
} 