.transmit-handler {
  @apply flex flex-col mt-2 gap-4 w-fit bg-gray-800 rounded-lg mx-auto h-fit max-h-[75vh] p-4;
}

.transmit-handler-container {
  @apply transition-all relative;

  &[data-is-media-expanded="true"] {
    height: 0;
    z-index: 0;
    opacity: 0;
  }

  &[data-is-media-expanded="false"] {
    height: var(--transmit-handler-height);
    opacity: 1;
  }
}