.bible-section {
  @apply overflow-y-auto pr-2 pl-1;

  height: calc(100% - clamp(4rem, 5vw, 5.5rem)); 

  @media (max-width: 768px) {
    height: calc(100vh - 15rem);
  }

  scrollbar-width: thin;
}

.bible-verses-list {
  @apply overflow-y-auto flex flex-col gap-1 py-2 rounded-md w-full;

  [data-has-title="true"] & {
    height: calc(100% - clamp(6rem, 6.5vw, 8rem));

    @media (max-width: 768px) {
      height: calc(100vh - 17rem);
    }
  }

  [data-has-title="false"] & {
    height: calc(100% - clamp(4rem, 5vw, 5.5rem));
    
    @media (max-width: 768px) {
      height: calc(100vh - 15rem);
    }
  }

  scrollbar-width: thin;
}

.bible-section-input {
  @apply items-center flex flex-col text-sm min-w-12;

  label {
    @apply capitalize;
  }
}