.bible-section {
  @apply overflow-y-auto pr-2 pl-1 pb-4 overflow-x-visible;

  height: calc(100% - var(--bible-version-selector-height) - 3rem);

  scrollbar-width: thin;
}

.bible-verses-list {
  @apply overflow-y-auto flex flex-col gap-1 py-2 rounded-md w-full;

  [data-has-title="true"] & {
    height: calc(100% - var(--bible-version-selector-height) - 5rem);
  }

  [data-has-title="false"] & {
    height: calc(100% - var(--bible-version-selector-height) - 6rem);
  }

  scrollbar-width: thin;
}

.bible-section-input {
  @apply items-center flex flex-col text-sm min-w-12;

  label {
    @apply capitalize;
  }
}