.display-window {
  width: var(--slide-editor-width);
  height: var(--slide-editor-height);

  font-family: Verdana;

  @apply relative overflow-hidden;
}

.overlay-info-container {
  @apply w-fit absolute flex flex-col bg-gray-800/75; 

  border-left: var(--overlay-info-border-width) solid green;
  padding: 0 2.5% 1% 2.5%;

  max-width: 70%;

  bottom: 5%;
}

.overlay-info-name {
  font-size: var(--overlay-info-name-size);
}

.overlay-info-title {
  font-size: var(--overlay-info-title-size);
  font-style: italic;
}

.overlay-info-event {
  font-size: var(--overlay-info-event-size);
}