.credits-list-editor { 
  @apply flex flex-col gap-2 w-full overflow-y-auto h-full;

  scrollbar-width: thin;
  max-height: (calc(100vh - clamp(12rem, 14vw, 16rem)));

  @media(max-width: 767px) {
    max-height: calc(100dvh - 13rem);
  }
}

.credits-list, .published-credits-list {
  @apply flex flex-col gap-[7.5vh] w-full text-white text-center overflow-y-auto pb-[10%];
}

.credits-list {
  scrollbar-width: thin;

  max-height: (calc(100vh - clamp(5rem, 7vw, 7.5rem)));

  @media(max-width: 767px) {
    max-height: calc(100dvh - 6.5rem);
  }
}

.published-credits-list {
  @apply bg-black/75 h-screen;

  scrollbar-width: none;
}

body:has(.credits-list-editor, .published-credits-list) {
  overflow: hidden;
}