.toggle-container {

  @apply w-8 h-4 border rounded-2xl relative border-gray-300 flex;

  :focus-within, &:focus-visible, &:focus {
    @apply outline-1 outline-slate-200;
  }

  &:hover {
    @apply border-gray-100
  }

  &.on {
    @apply bg-green-600;
  }

  &.off {
    @apply bg-gray-500;
  }
}

.toggle-circle {
  top: -5px;

  @apply transition-all absolute pointer-events-none;

  .on & {
    right: 0;
  }

  .off & {
    right: 14px;
  }
}