.services-dropdown {
  select {
    @apply max-md:max-w-24 md:max-w-40;
    option {
      @apply  text-lg;

      overflow-wrap: anywhere;

    }
  }
}

.services-list {
  @apply flex-1 overflow-y-auto;
  
  scrollbar-width: thin;
}

.services-container {
  @apply flex gap-4 flex-1;

  max-height: calc(100% - 2.5rem);
}